default_install_hook_types:
  - pre-commit
  - pre-push

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: format
        name: make format
        entry: make format
        language: system
        types: [python]
        pass_filenames: false

      - id: check
        name: make lint typecheck
        entry: make lint typecheck
        language: system
        types: [python]
        pass_filenames: false

      - id: coverage
        name: make coverage
        entry: make coverage
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]
